src/test/resources/datasets/database.dtd

<!ELEMENT dataset (
        card*,
        users*,
        user_card*,
        quiz*,
        role*,
        user_role*,
        quiz_card*
        )>

<!ELEMENT card EMPTY>
<!ATTLIST card
        id CDATA #REQUIRED
        question CDATA #REQUIRED
        answer CDATA #REQUIRED
        created_at CDATA #REQUIRED
        updated_at CDATA #REQUIRED
        author_id CDATA #REQUIRED
        >

<!ELEMENT users EMPTY>
<!ATTLIST users
        id CDATA #REQUIRED
        first_name CDATA #REQUIRED
        last_name CDATA #REQUIRED
        email CDATA #REQUIRED
        password CDATA #REQUIRED
        image_url CDATA #REQUIRED
        activated CDATA #REQUIRED
        activation_key CDATA #IMPLIED
        reset_key CDATA #REQUIRED
        reset_date CDATA #REQUIRED
        lang_key CDATA #REQUIRED
        created_by CDATA #REQUIRED
        created_date CDATA #REQUIRED
        last_modified_by CDATA #REQUIRED
        last_modified_date CDATA #REQUIRED
        >

<!ELEMENT user_card EMPTY>
<!ATTLIST user_card
        card_id CDATA #REQUIRED
        user_id CDATA #REQUIRED
        learned CDATA #IMPLIED
        favorite CDATA #IMPLIED
        >

<!ELEMENT quiz_card EMPTY>
<!ATTLIST quiz_card
        card_id CDATA #REQUIRED
        quiz_id CDATA #REQUIRED
        status CDATA #REQUIRED
        >

<!ELEMENT quiz EMPTY>
<!ATTLIST quiz
        id CDATA #REQUIRED
        user_id CDATA #REQUIRED
        status CDATA #REQUIRED
        created_at CDATA #IMPLIED
        updated_at CDATA #IMPLIED
        >

<!ELEMENT role EMPTY>
<!ATTLIST role
        id CDATA #REQUIRED
        >

<!ELEMENT user_role EMPTY>
<!ATTLIST user_role
        user_id CDATA #REQUIRED
        role_id CDATA #REQUIRED
        >
